<div class="wrapper clearfix">
  <div class="formy">
    <div class="row">
      <div class="col-md-12">
        <%= form_for(@blog) do |f| %>
          <% if @blog.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

              <ul>
              <% @blog.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :title,:Título %><br />
            <%= f.text_field :title, {autofocus: true, class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :content,:Contenido %><br />
            <%= f.text_area :content, {autofocus: true, class: 'form-control'} %>
          </div>          
          <div class="submit" >
            <button type="submit" class="button-clear">
              <span>Crear comentario</span>
            </button>
          </div>
        <% end %>
      </div>
    </div>            
  </div>
</div>     