<%= javascript_include_tag('js/SocialShare.js') %>
<% if !@blogs.empty? %>
	<% @blogs.each do |blog| %>

		<div class="post" style="border-bottom: 1px solid #DFDFDF; padding-bottom:10px;">

		  <div class="title"><%= link_to blog.title, blog_path(blog.id) %></div>
		  <div class="author">
		      <%= image_tag("/images/circle-icons/one-color/profle.png", :class => "avatar", :alt => "author") %>
		      <p>Comentado por: 
		      	 <%= unless blog.user_id.nil?
		      	 	   	User.find(blog.user_id).name 
		      	 	   else
		      	 	   	'Anónimo'
		      	 	   end
		      	 	%>
		      </p>
		      <p>Creado: <%= blog.created_at %></p>
		  </div>
		  <div class="body">
		    <div>
		      <p><%= blog.content %></p>
		    </div>
		  </div>

			<div class="share">
			  <div class="plugin_container">
			      <div class="supersocialshare bubble left sss-light" data-networks="facebook,google,twitter,linkedin" data-orientation="line" data-angle="0" 
			           data-url="<%= blog_path(blog.id)%>" data-theme="flat">
			              <a class="sb_main active" title="Share" alt="Share">Share</a>
			              <div class="sb_network_holder">
			              <a class="sb_network_button facebook" target="_blank" data-network="facebook" style="display: block; left: 68px; top: 9px;">Facebook</a>
			              <a class="sb_network_button google" target="_blank" data-network="google" style="display: block; left: 118px; top: 9px;">Google Plus</a>
			              <a class="sb_network_button twitter" target="_blank" data-network="twitter" style="display: block; left: 168px; top: 9px;">Twitter</a>
			              <a class="sb_network_button linkedin" target="_blank" data-network="linkedin" style="display: block; left: 218px; top: 9px;">LinkedIn</a>
			          </div>
			      </div>
			  </div>  
			</div>
			<div id="share-wrapper">
			    <ul class="share-inner-wrp">
			        <!-- Facebook -->
			        <li class="facebook button-wrap"><a href="<%= blog_path(blog.id)%>">Facebook</a></li>

			        <!-- Google -->
			        <li class="google button-wrap"><a href="<%= blog_path(blog.id)%>">Plus Share</a></li>

			        <!-- Twitter -->
			        <li class="twitter button-wrap"><a href="<%= blog_path(blog.id)%>">Tweet</a></li>

			        <!-- linkedin -->
			        <li class="linkedin button-wrap"><a href="<%= blog_path(blog.id)%>">linkedin</a></li>
			    </ul>
			</div> 		  
			
		</div>

	<% end %>
<% else %>
	<h4>No hay entradas en el blog</h4>
<% end %>	