<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=572459022778488";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-md-3 sidebar">
  <div class="search">
    <%= render partial: "search" %>
  </div>
  <div class="updates">
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbetterplantain2016&amp;        width=190&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=400&amp;show_border=false"
            scrolling="no" frameborder="0" height="400" style="border:none; background-color:#ffffff; overflow:hidden; width:190px; height:400px;" allowTransparency="true">
    </iframe>    
  </div>
  <br/>          
  <div class="last-art">
    <div class="title" >Nuestros articulos</div>
    <% my_last_articles = Blog.all %>
    <ul>
      <% if !my_last_articles.nil? %>
        <% for my_art in my_last_articles %>
        <li>
          <strong><%= my_art.created_at.strftime("%d %b") %></strong>
          <%= link_to my_art.title, blog_path(my_art.id) %>
        </li>
        <% end %>
      <% else %>
        <li>
          <strong> No hay artículos </strong>
        </li>                  
      <% end %>  
    </ul>
  </div>
</div>