<div id="search_container" >
 <i class="fa fa-spinner fa-spin" id ='search_spinner' style ='display:none; position:absolute;'></i>
 <span class="icomoon-search"></span>
 <input type="text" id="q" name="q" value="" placeholder=" Buscar..." />
</div>
<%= our_observe_field "q",
                    :delay => 700,
                    :spinner_id => "search_spinner",
                    :update_id => "search_results",
                    :url => { 	:controller => 'live',
                                :action => 'search' },
								:query_name => 'q'%>

<div id="search_results" style="margin-top:10px"></div>  