<div id="blog">
  <div id="posts">
    <div class="container">
      <div class="row header">
        <div class="col-md-9">
          <h2>Better Plantain / Blog</h2>
        </div>
      </div>
      </br>   
      <div class="row">
        <div class="col-md-9" style="border-bottom: 1px solid #DFDFDF; padding-bottom:10px; height: 30px;" >
          <span style="float:left; padding-right: 5px;" >Ingresa un nuevo comentario </span><span style="float:left;" ><%= link_to :acá, new_blog_path, {style: 'color:grey; text-decoration: none;'} %></span>
        </div>
        <div class="col-md-9">
          <%= render partial: 'list' %>
          <%= will_paginate @blogs %>
        </div>
        <%= render partial: 'right_column' %>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    $(function () {
      $(".search input:text").focus(function () {
        $(".icomoon-search").addClass("active");
      });
      $(".search input:text").blur(function () {
        $(".icomoon-search").removeClass("active");
      });
    });
  </script>
