<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <h2>Nuevo comentario en el blog</h2>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-12">
  		<%= render 'form' %>
  	</div>
  </div>
	<%= link_to 'Volver al blog', blogs_path %>
</div>

