
<body id="signup">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3 class="logo">
          <a href="<%= root_path %>" style="background: transparent;">Better plantain</a>
        </h3>
        <h4>Configura tu nueva cuenta</h4>
        <p>
          Ingresa la siguiente información
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.label :name,:Nombre %><br />
                    <%= f.text_field :name, {autofocus: true, class: 'form-control data_form', 'data-toggle':"popover", 'data-placement':"top", 'data-content':"Ingresa tu nombre completo"} %>
                  </div> 
                  <div class="form-group">
                    <%= f.label :identity_number,'Numero documento identidad' %><br />
                    <%= f.text_field :identity_number, {autofocus: true, class: 'form-control data_form', 'data-toggle':"popover", 'data-placement':"top", 'data-content':"Ingresa el número de tu documento de identidad"} %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, {autofocus: true, class: 'form-control data_form', 'data-toggle':"popover", 'data-placement':"top", 'data-content':"Ingresa tu coreo electrónico"} %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, {autocomplete: "off", class: 'form-control data_form', 'data-toggle':"popover", 'data-placement':"top", 'data-content':"Ingresa tu contraseña"} %>
                  </div>

                  <div class="form-group" >
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, {autocomplete: "off", class: 'form-control data_form', 'data-toggle':"popover", 'data-placement':"top", 'data-content':"Confirma tu contraseña"}%>
                  </div>

                  <div class="submit" >
                    <button type="submit" class="button-clear">
                      <span>Crear mi cuenta</span>
                    </button>
                  </div>
                <% end %>
              </div>
            </div>            
          </div>
        </div>
        <div class="already-account">
          ¿Ya tienes una cuenta?
          <a href="<%= user_session_path %>" data-toggle="popover" data-placement="top" data-content="Clic acá!" data-trigger="manual">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    jQuery(function () {
      var alreadyAccount = jQuery(".already-account a");
      var dataForm = jQuery('.data_form');
      alreadyAccount.on('mouseover', function(){jQuery(this).popover('show')});
      alreadyAccount.on('mouseleave', function(){jQuery(this).popover('hide')});

      dataForm.each(function(){
        jQuery(this).on('mouseover', function(){jQuery(this).popover('show')});
        jQuery(this).on('mouseleave', function(){jQuery(this).popover('hide')});
      })

    });
  </script>
</body>


