<style type="text/css" >
	.description{
		margin:0px !important;
	}
</style>

<div class="project">
	<h3><%= crop.name %></h3>
	<div class="divider" style="margin-top:10px;"></div>
	<div class="screen">
		
	</div>
	<p class="description" >
		Este cultivo tiene una extensión de <%= crop.size %> hectáreas y esta localizado en <%= crop.location %>.
	</p>
	<% if crop.guineo || crop.harton || crop.macho || crop.rojo || crop.valery%>
		<p class="description" >En el terreno se cultivan siguientes clases de platano:</p>
		<ul>
			<% if crop.guineo%>
			<li>Guineo</li>
			<% end %>
			<% if crop.harton%>
			<li>Hartón</li>
			<% end %>
			<% if crop.macho%>
			<li>Macho</li>
			<% end %>
			<% if crop.rojo%>
			<li>Rojo</li>
			<% end %>
			<% if crop.valery%>
			<li>Valery</li>
			<% end %>								
		</ul>
	<% else %>
		<p class="description" >Aún no se cultivan en el terreno alguna variedad de platano.</p>
	<% end %>
	<p class="description" >La calificación para este cultivo fue de: </p>
	<ul>
		<li><%= crop.score %> punto<%= 's' if crop.score != 1 %></li>
	</ul>
	<%= PlantainCropsHelper::analysis_range(crop)%>
	<div class="divider"></div>
	<div class="visit">
		<%= link_to 'Ir al análisis del cultivo', analisis_path(crop.id), {class:'button'}%>
	</div>
</div>
