<style type="text/css">

.comments{
	background:white;
	min-height: 600px;
	border-radius: 5px;
	padding: 10px;
}	

</style>

<div class="col-md-3 sidebar comments" >
	<i class="fa fa-comments-o"></i>
	<p style="display:inline">Estos son tus comentarios:</p>
  <ul>
    <% unless @blogs.empty? %>
      <% my_last_articles=@blogs %>
      <% if !my_last_articles.nil? %>
        <% for my_art in my_last_articles %>
          <li>
            <strong><%= my_art.created_at.strftime("%d %b") %></strong>
            <%= link_to my_art.title, blog_path(my_art.id) %>
          </li>
        <% end %>
      <% else %>
      <li>
        <strong> No hay artículos </strong>
      </li>                  
      <% end %> 
    <% else %>
      <p>No tienes comentarios</p>
    <% end %>
  </ul>	
</div>