<div >
	<% unless @plantain_crops.empty? %>
		<% for crop in @plantain_crops %>
			<%= render partial: 'crop_data', locals: {crop: crop} %>							
		<% end %>
	<% else %>
		<div class="project">
			<h3>Actualmente no haz ingresado ningún cultivo</h3>
			<div class="row">
				<div class="col-md-12">
					<div class="flexslider">
					  	<ul class="slides">
								<li>
									<%=image_tag('slider/platano01.jpg')%>
								</li>
								<li>
									<%=image_tag('slider/platano02.jpg')%>
								</li>
								<li>
									<%=image_tag('slider/platano03.jpg')%>
								</li>
								<li>
									<%=image_tag('slider/platano04.jpg')%>
								</li>	
					  	</ul>
					</div>
				</div>
			</div>
			<h3>Vamos animate a ingresar la informacion de tu cultivo y aprende a como mejorar tus practicas agropecuarias</h3>
			<div class="visit">
				<%= link_to 'ingresa un cultivo', new_plantain_crop_path, {class:'button'}%>
			</div>						
		</div>	
	<% end %>				
</div>

<script type="text/javascript">
	$( document ).ready(function() {
		$('.flexslider').flexslider({
			directionNav: false,
			slideshowSpeed: 4000
		});
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>