
<div id="showcase">
	<div class="container">
		<div class="row header">
			<div class="col-md-2">
				<div style="width:150px;">
					<img src="/images/leaf-82043_1920.jpg" class="img-responsive" />
				</div>
			</div>
			<div class="col-md-10" style="padding-left:25px;">
				<h3>Hola <%= current_user.name %></h3>
				<p>tu email: <%=current_user.email%></p>
				<p>Tienes <%=current_user.plantain_crops.size%> cultivo<%= 's' if current_user.plantain_crops.size > 1%> ingresados </p>					
			</div>			
		</div>
		<div class="row">
			<div class="col-md-9">
				<%= render partial: 'your_crops' %>
				<%= will_paginate @plantain_crops %>
			</div>
				<%= render partial: 'right_column' %>				
		</div>	
	</div>
</div>