html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.clear {
    clear: both;
}

.header {
    display: block;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.header h1 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

#page_container {
    width: 940px;
    display: block;
    margin: 0 auto;
}

.wecreate {
    background-image: url(../images/we_create_logo.png);
    width: 97px;
    height: 89px;
    display: block;
    margin: 30px auto 25px;
}

.wecreate img {
    width: 97px;
    height: 89px;
    display: block;
}

.plugin_container {
    display: block;
    width: 780px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
@media (max-width: 373px){
    .plugin_container {display: none;}
}

.article_header {
    display: block;
    float: left;
}

h2 {
    color: #444;
}

.meta {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}

.title_bar {
    width: 940px;
    height: 120px;
    display: block;
    background-image: url(../images/title_banner.png);
    margin-top: -15px;
    position: relative;
    z-index: 1;
}

.title_bar h1 {
    margin: 0;
    text-align: center;
    line-height: 90px;
    padding: 15px 0;
}

.paragraph_container {
    width: 380px;
    background-color: #FFF;
    margin: 20px 0;
    display: block;
    float: left;
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #DDD;
}

.paragraph_container.full {
    clear: both;
    width: 860px;
    margin-top: 0;
    float: none;
}

.paragraph_container h3 {
    color: #414042;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
}

.paragraph_container p {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    color: #414042;
    text-align: center;
}

.paragraph_container ul {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 30px;
    color: #414042;
}

.paragraph_container.left {
    margin-left: 0;
    margin-right: 20px;
}

.supersocialshare.bubble {
    position: absolute !important;
    top: 50%;
    left: 50%;
    margin-top: -46px;
    margin-left: -32px;
}

.supersocialshare.bubble.left {
    left: 10px;
    top: 40px;
    margin-left: 0;
}

.supersocialshare.bubble.right {
    left: auto;
    right: 200px;
    margin-left: 0;
}

.plugin_container select {
    margin: 10px;
}

.wrapper {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background: #F5F5F5;
    padding: 20px;
}


/* Share buttons inline */

/* outer wrapper */
#share-wrapper {
    display: none;
}

/* inner wrapper */
#share-wrapper ul.share-inner-wrp{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* the list */
#share-wrapper li.button-wrap {
    background: #E4EFF0;
    padding: 0px 0px 0px 10px;
    display: block;
    width: 140px;
    margin: 0px 0px 1px -117px;
}

/* share link */
#share-wrapper li.button-wrap > a {
    padding-right: 60px;
    height: 32px;
    display: block;
    line-height: 32px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* background image for each link */
#share-wrapper .facebook > a{
    background: url(buttons/facebook.jpg) no-repeat right;
}
#share-wrapper .twitter > a{
    background: url(buttons/twitter.jpg) no-repeat right;
}
#share-wrapper .linkedin > a{
    background: url(buttons/linkedin.jpg) no-repeat right;
}
#share-wrapper .digg > a{
    background: url(buttons/digg.jpg) no-repeat right;
}
.stumbleupon > a{
    background: url(buttons/stumbleupon.jpg) no-repeat right;
}
#share-wrapper .delicious > a{
    background: url(buttons/delicious.jpg) no-repeat right;
}
#share-wrapper .google > a{
    background: url(buttons/google.jpg) no-repeat right;
}
#share-wrapper .email > a{
    background: url(buttons/email.jpg) no-repeat right;
}

/* small screen */
@media all and (max-width: 373px) {
    #share-wrapper {
        padding: 5px 5px 0px 5px;
        background: #EBEBEB;
        width: 100%;
        margin: 0px;
        -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        -o-box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        display: block;
        z-index: 10000000;
    }
    #share-wrapper ul.share-inner-wrp {
        list-style: none;
        margin: 0px auto;
        padding: 0px;
        text-align: center;
        overflow: auto;
    }
    #share-wrapper li.button-wrap {
        display: inline-block;
        width: 32px!important;
        margin: 0px;
        padding: 0px;
        margin-left:0px!important;
    }
    #share-wrapper li.button-wrap > a {
        height: 32px;
        display: inline-block;
        text-indent: -10000px;
        width: 32px;
        padding-right: 0;
        float: left;
    }
}

/* ellipsis effect in the index */
    .ellipsis {
      overflow: hidden;
      height: 195px;
      line-height: 25px;
      margin: 20px; }

    .ellipsis:before {
      content:"";
      float: left;
      width: 5px; height: 200px; }

    .ellipsis > *:first-child {
      float: right;
      width: 100%;
      margin-left: -5px; }    

    .ellipsis:after {
      content: "\02026 Read more";  
      color: #1a76c6;
      box-sizing: content-box;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;

      float: right; position: relative;
      top: -25px; left: 100%; 
      width: 98em; margin-left: -98em;
      padding-right: 5px;
      
      text-align: right;

      background: -webkit-gradient(linear, left top, right top,
        from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
      background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);     
      background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
      background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }