/* @group General/Master Containers */

body {
  margin: 0;
  font: 1em/1.6em Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #000;
}

#container {
  text-align: left;
  font-size: 70%;
  margin: 0 auto;
}

#header {
  height: 92px;
  color: #fff;
}

#overall {
  background: #fff;
  width: 85%;
  margin: 0 auto;
}

#content {
  background: #fff;
  margin: 5px 0 0 0;
  padding: 10px;
}

#main {
  padding-left: 10px;
}

#info {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 80%;
}

#footer {
  margin-top: 7px;
  height: 35px;
  text-align: center;
}

/* @end */

/* @group Utility */

form {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

a {
  color: #8D805D;
  text-decoration: none;
}

a:hover {
  color: #333;
}

hr {
  border: none;
  border-bottom: 1px solid #7D8692;
}

/* @end */

/* @group Primary Navigation */

#tabs-container {
  height: 20px;
  width: auto;
  padding: 14px 0 0 100px;
  margin-top: -40px;
  border-bottom: 1px solid #637987;
  background: #F8F7EF;
}

#tabs {
  padding: 0;
  margin: 0 0 0 40px;
  font: normal 100% Georgia, Garamond, Times;
  line-height: normal;
  text-transform: uppercase;
}

#tabs li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

#tabs li a {
  padding: 3px 8px 3px 8px;
  margin-left: 3px;
  background: #F8F7EF;
  text-decoration: none;
  color: #003;
  line-height: normal;
}

#tabs li a:hover {
  color: #993300;
  border-top: 12px solid #E8E4D3;
}

#tabs li a.active {
  color: #993300;
  border-top: 12px solid #E8E4D3;
  background: #F8F7EF;
}

#tabs li a.active:hover {
  color: #777;
  background: #fff;
  border-color: #637987;
}

/* @end */

/* @group Tasks Links */

.tasks {
  background: #F8F7EF;
  border-top: 1px dotted #C2C0BB;
  border-bottom: 1px dotted #C2C0BB;
  padding: 5px;
  margin-bottom: 15px;
}

.tasks ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tasks ul li {
  display: inline;
  line-height: normal;
}

.tasks li a {
  display: block;
  float: left;
  padding: 2px 5px;
  margin-right: 5px;
  text-decoration: none;
}

.tasks li a:hover {
  background: #637987;
  color: #fff;
}

/* @end */

/* @group Headings */

h2 {
  font: normal 170% Georgia, Times, Helvetica;
  color: #930;
  padding: 5px 0 0 5px;
}

h3 {
  font-size: 130%;
  padding: 5px;
  margin-bottom: 0;
}

#header h1 {
  background: #EDEBD5;
  margin: 0;
  padding: 14px 0 12px 100px;
  border-bottom: 1px dashed #A9A585;
  border-top: 4px solid #4A4902;
  font: normal 200% Georgia, Garamond, Times;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

#header h1 a {
  color: #000;
  margin: 10px 0 10px 0;
  text-decoration: none;
  border: none;
}

.form h3,  h3 {
  background: #333;
  color: #fff;
  font-weight: normal;
}

.form h4 {
  padding: 2px;
  margin: 0;
  font-size: 120%;
}

.tasks h3 {
  font: normal 120%/normal "Trebuchet MS", Arial, Verdana;
  background: transparent;
  margin: 0 0 5px 0;
  padding: 0;
  color: #4A611C;
}

.set h3 {
  background: none;
  margin: 0 0 5px 0;
  color: #1F273F;
}

/* @end */

/* @group Table Listings */

td.operation {
  width: 25px;
  text-align: center;
}

th.operation {
	text-align: center;
}

.list {
  clear: left;
}

.list table {
  width: 98%;
}

.list table th {
  text-align: left;
  font-weight: bold;
  border-bottom: 4px solid #ccc;
}

.list table tr td {
  padding: 0 2px;
}

tr.shade {
  background: #E4E4D7;
}

/* @end */

/* @group Form Elements */

label {
  font-weight: bold;
}

.form {
  border: 1px solid #C2C0BB;
  background: #F8F7EF;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
}

.form div {
  padding: 5px;
}

.form input {
  font-family: Georgia;
  font-size: 1em;
  letter-spacing: 0.02em;
}

.form textarea {
  width: 350px;
  font-family: Georgia;
  line-height: 1.1em;
  font-size: 1em;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}

#blog_name {
  font-size: 130%;
}

/* @end */

/* @group Popups/Tooltips */

.tip-catlist {
  width: 200px;
  background: #EEF1FE;
  border: 2px solid #C2D2E7;
  padding: 5px;
}

/* @end */

/* @group Live Preview */

#preview, #preview_extended {
  background: #fff;
  border: 1px dashed #ccc;
  padding: 0 0 0 5px;
  width: 50%;
  height: 500px;
  float: right;
  margin-bottom: 10px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
  font-size: 0.95em;
}

/* @end */

/* @group General Settings Screen */

.set {
  background: #F8F7EF;
  padding: 0 10px 5px 10px;
  margin-bottom: 10px;
  position: relative;
}

#gensettings {
  /* Nothing here */
}

legend {
  font-size: 130%;
  text-transform: capitalize;
}

.admin ul {
  margin: 0;
  padding: 0;
}

.admin li {
  list-style: none;
  padding: 5px;
  margin: 0;
  clear: both;
}

.admin li p {
  line-height: 1.6em;
}

.admin li.checkbox {
  line-height: 1.4em;
}

.admin label.float {
  display: block;
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: 12px;
  padding: 0;
  text-align: right;
}

.admin label.block {
  display: block;
}

.admin input.float {
  width: auto;
}

.admin span.float {
  margin-left: 212px;
  padding: 0;
  display: block;
  clear: both;
}

.mandatory {
  color: #f00;
}

/* @end */

/* @group Sidebar */

#sidebar-config {
  /* Safari Fix */
  border-top: 5px solid #fff;
}

#sidebar-config p {
  margin: 0;
  padding-left: 5px;
}

#available {
  float: left;
  width: 300px;
}

#active, #cnt-active {
  width: 300px;
  min-height: 200px;
}

#cnt-active {
  margin-left: 320px;
  background: #F8F7EF;
}

#available {
  background: #F8F7EF;
  padding-bottom: 10px;
}

#active {
  background: #F8F7EF;
  padding-bottom: 10px;
}

#available h3, #active h3, #cnt-active h3 {
  background: #E4E4D7;
  color: #333;
  margin: 0 0 10px 0;
  padding: 2px 5px;
}

.dropbox {
  width: 270px;
}

.handle {
  cursor: move;
  font-size: 130%;
  font-weight: normal;
  padding-left: 5px;
  margin: 0;
}

.dragitem, .dropitem {
  margin: 0 0 5px 12px;
}

.dragitem {
  border: 1px solid #9cabba;
  border-top: 1px solid #bacddf;
  border-left: 1px solid #bacddf;
  background: #fff;
  width: 270px;
}

.handle {
  background: #f7f7f7;
}

.target {
  background: #F8F7EF;
  margin: 5px;
  padding: 5px;
}

/*

@end */

/* @group Miscellaneous */

.form p {
  margin: 0;
  padding: 0 0 5px;
}

#info {
  color: #4A4902;
}

#info a {
  color: #4A4902;
}

#info a:hover {
  border-bottom: 1px dotted #222;
}

.form p>small {
  color: gray;
}

.form .note {
  font-style: italic;
  font-size: 90%;
}

.r {
  text-align: right;
}

.c {
  text-align: center;
}

.space {
  margin: 10px;
}

.errorExplanation {
  background: #FFE6E6;
  color: #000;
  border: 1px solid #FF8080;
  margin: 0 30px 10px 30px;
}

.errorExplanation h2 {
  padding: 2px 5px;
  border: none;
  background: none;
  font-size: 120%;
}

.errorExplanation p {
  padding: 5px;
}

.errorExplanation ul {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: none;
}

.preview {
  border: 4px solid #656D79;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 5px;
  float: right;
}

.theme h3 {
  margin: 0;
}

/* @end */

/* @group Users */

div#users {
  background: #F8F7EF;
  margin-top: 10px;
}

div.user {
  border: 1px solid #9cabba;
  border-top: 1px solid #bacddf;
  border-left: 1px solid #bacddf;
  background: #fff;
  width: 30%;
  float: left;
  margin: 10px;
}

.user h4 {
  margin: 0 0 2px 0;
  padding: 0;
}

.user h4 a {
  color: #333;
  background: #f7f7f7;
  padding-left: 5px;
  display: block;
}

.user h4 a:hover {
  background: #D7DFE4;
}

.user p {
  margin: 0;
  padding: 5px;
}

/* @end */

/* @group Misc Containers */

#quick-post {
  background: #EDEBD5;
  padding: 10px;
  border: 1px solid #9cabba;
  margin-left: 10px;
  border-top: none;
}

#quick-post input {
  font-family: Georgia;
  font-size: 13px;
  letter-spacing: 0.02em;
}

#quick-post textarea {
  width: 350px;
  font-family: Georgia;
  line-height: 14px;
  font-size: 12px;
  letter-spacing: 0.02em;
  word-spacing: 0.05em;
}

#quick-navigate {
  background: #F8F7EF;
  padding: 2px 5px 0px 5px;
  border: 1px dotted #9cabba;
  margin-left: 10px;
  border-top: none;
}

#advanced {
  line-height: 1.3em;
}

#advanced label {
  clear: left;
  float: left;
  width: 15em;
}

#loginform {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}

#loginform input {
  margin-bottom: 10px;
}

#loginform div.form {
  padding: 10px;
}

#loginform .fieldWithErrors {
  display: table;
  border: 1px solid red;
}

#flash span {
  padding: 5px;
  margin-top: 10px;
  color: #0C2504;
  display: block;
}

#flash .notice {
  font-size: 11px;
  color: #fff;
  background: #637987;
  border-top: 1px solid #336699;
  border-bottom: 1px solid #336699;
}

#flash .error {
  background: #e99;
  border-top: 1px solid #822;
  border-bottom: 1px solid #822;
}

#category_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  width: 300px;
}

#category_list li {
  cursor: move;
  border-bottom: 1px dotted #ccc;
}

/* @end */

/* @group Feedback */

.feedbackbody td {
  border-bottom: 1px dotted #ccc;
}

.presumed_ham td {
  border-bottom: 1px dotted #ccc;
}

.presumed_spam td {
  border-bottom: 1px dotted #ccc;
}

.ham td {
  border-bottom: 1px dotted #ccc;
}

.spam td {
  border-bottom: 1px dotted #ccc;
}

.spam .state {
  font-weight: bold
}

/* @end */