html{font-size:100.01%;}
body {
	margin:0;
	color:#4f4f4f;
	font-size:64%;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#83b00f;
}
form {
	margin:0;
	padding:0;
}
/*-----header-----*/
#header {
	width:100%;
	/* IE Dynamic Expression to set the width */
	width:expression(document.body.clientWidth < 920 ? "920px" : "100%" );
	min-width:920px;
	background:url(../images/site_images/header-bg.gif) repeat-x;
	position:absolute;
	top:0;
	left:0;
}
* html #header {width:auto;}
#header .header-area {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	width:920px;
	height:107px;
}
/*---header-top-block---*/
.h-top {
	overflow:hidden;
	width:100%;
	clear:both;
}
.h-top #language {

	margin-left:264px;
	float:right;
	margin-top:5px;
	font-size:120%;
}
.h-top #language a {
	text-decoration:none;
	color:#6a8f0c;
}
.h-top strong {
	float:left;
	margin:16px 0 0 10px;
	display:inline;
}
.h-top strong a {
	display:block;
	width:284px;
	height:37px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/site_images/logo.gif) no-repeat;
}
.h-top ul {
	float:right;
	margin:0;
	padding:0;
}
.h-top ul li {
	float:left;
	padding:0 5px 0 0;
	list-style:none;
	font:13px/22px Arial, Helvetica, sans-serif;
}
.h-top ul li a {
	float:left;
	color:#fff;
	text-decoration:none;
	background:url(../images/site_images/top-menu-l.gif) no-repeat;
}
.h-top ul li a span {
	float:left;
	padding:0 14px;
	cursor:pointer;
	background:url(../images/site_images/top-menu-r.gif) no-repeat 100% 0;
}

.h-top ul li a.active, 
.h-top ul li a:hover {
	color:#4f4f4f;
	background-position:0 -22px;
}
.h-top ul li a:hover span {background-position:100% -22px;}
/*---navigation---*/
#header ul.nav {
	clear:both;
	overflow:hidden;
	width:900px;
	margin:12px 0 0 10px;
	padding:0;
}
#header ul.nav li {
	float:left;
	padding:0 6px 0 0;
	list-style:none;
	font:15px/30px Arial, Helvetica, sans-serif;
}
#header ul.nav li a {
	float:left;
	color:#4f4f4f;
	text-decoration:none;
	background-image:url(../images/site_images/nav-l.gif);
	background-repeat: no-repeat;
}
#header ul.nav li a span {
	float:left;
	padding:0 9px;
	cursor:pointer;
	background-image:url(../images/site_images/nav-r.gif);
	background-repeat:no-repeat;
	background-position: 100% 0;
}
#header ul.nav li a span strong {
	float:left;
	font-weight:normal;
	padding:0 0 12px;
}
#header ul.nav li a:hover,
#header ul.nav li a.active {background-position:0 -42px;}
#header ul.nav li a:hover span,
#header ul.nav li a.active span {background-position:100% -42px;}
#header ul.nav li a.active span strong {
  background-image:url(../images/site_images/nav-active.gif);
  background-repeat: no-repeat;
  background-position : 50% 100%;
  }
/*-----content-----*/
#content {
	width:100%;
	/* IE Dynamic Expression to set the width */
	width:expression(document.body.clientWidth < 920 ? "920px" : "100%" );
	min-width:920px;
	/* IE Dynamic Expression to set the height */
	height:expression(document.body.clientHeight < 200 ? "200px" : "auto" );
	min-height:200px;
	padding:107px 0 20px;
	background:#fff url(../images/site_images/content-bg.gif) repeat-x 0 100%;
}
* html #content {
	width:auto;
	height:200px;
}
#content .content-area {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding:6px 0;
	width:920px;
}
/*--info-block--*/
.info-block {
	float:left;
	width:900px;
	padding:6px 0 0 10px;
}

.info-block p.style_h1 {
	margin:0;
	color:#6a8f0c;
	font-size:190%;
	line-height:130%;
	font:bold 18px/22px Arial, Helvetica, sans-serif;
}


.info-block h1 {
	margin:0;
	color:#6a8f0c;
	font-size:190%;
	line-height:130%;
}
.info-block ul.list {
	overflow:hidden;
	margin:20px 0 0;
	padding:0;
}
.info-block ul.list li {
	vertical-align:top;
	padding:0 0 0 20px;
	list-style:none;
	color:#4f4f4f;
	font-size:140%;
	line-height:130%;
		background-image:url(../images/site_images/green-bullet.gif);
		background-position: 0 6px;
		background-repeat: no-repeat;
}
.info-block p {
	margin:12px 0 0;
	color:#4f4f4f;
	font-size:140%;
	line-height:130%;
}
.info-block p a {
	color:#83b00f;
	text-decoration:none;
}
.info-block p a:hover {text-decoration:underline;}
.orange-box {
	overflow:hidden;
	width:608px;
	margin:20px 0 0;
	background-image:url(../images/site_images/orange-box-bg.gif);
	background-repeat: repeat-y;
}
.orange-box .orange-box-top {
	overflow:hidden;
	width:100%;
	background-image:url(../images/site_images/orange-box-top.gif);
	background-repeat: no-repeat;
}
.orange-box .orange-box-bottom {
	overflow:hidden;
	padding:4px 14px 12px 16px;
	background-image:url(../images/site_images/orange-box-bottom.gif);
	background-repeat: no-repeat;
	background-position: 0 100%;
}
.orange-box p {
	margin:0;
	color:#fff;
	font-size:140%;
	line-height:130%;
}
.orange-box ul {
	overflow:hidden;
	margin:20px 0 0 2px;
	padding:0;
}
.orange-box ul li {
	padding:0 0 0 18px;
	list-style:none;
	background-image:url(../images/site_images/white-bullet.gif);
	background-repeat: no-repeat;
	background-position: 0 6px;
	font-size:140%;
	line-height:130%;
	color:#fff;
}
.form-block {
	overflow:hidden;
	width:610px;
}
.form-block ul {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
}
.form-block ul li {
	float:left;
	list-style:none;
	width:100%;
	margin:16px 0 0;
	background:none;
}
.form-block ul li label {
	float:left;
	width:226px;
	text-align:right;
	color:#4f4f4f;
	font-size:140%;
	line-height:140%;
}
.form-block ul li label span {color:#fc9542;}
.form-block ul li .arrow {
	float:left;
	margin:0 10px;
	display:inline;
	width:21px;
	height:21px;
	text-indent:-9999px;
	overflow:hidden;
	background-image:url(../images/site_images/arrow.gif);
	background-repeat: no-repeat;
}
.form-block ul li .inp-field {
	float:right;
	width:340px;
	padding:1px 0 0;
}
.form-block ul li .inp-field .inp-txt {
	float:left;
	margin:0;
	padding:1px 5px;
	width:326px;
	color:#4f4f4f;
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #4f4f4f;
}
.form-block ul li .inp-field .inp-txt-short {
	float:left;
	margin:0;
	padding:1px 5px;
	width:126px;
	color:#4f4f4f;
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #4f4f4f;
}
.form-block ul li .inp-field .inp-sel {
	float:left;
	margin:0;
	padding:0;
	width:338px;
	color:#4f4f4f;
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #4f4f4f;
}
.form-block ul li .inp-field .inp-sel-short {
	float:left;
	margin:0;
	padding:0;
	width:159px;
	color:#4f4f4f;
	font:12px Arial, Helvetica, sans-serif;
	border:1px solid #4f4f4f;
}
.form-block ul li .inp-field p {
	overflow:hidden;
	clear:both;
	margin:0;
	padding:4px 0 0;
	width:100%;
	color:#4f4f4f;
	font-size:120%;
	line-height:130%;
}
.form-block ul li .inp-field p span {color:#fb8525;}
.form-block .btn-submit {
	float:right;
	margin:16px 108px 0 0;
	font:12px Arial, Helvetica, sans-serif;
}
.form-block p {
	overflow:hidden;
	width:100%;
	clear:both;
	margin:0;
	padding:6px 0 0;
	color:#9c9c9c;
	font-size:120%;
	line-height:130%;
}
.form-block p span {color:#fb8525;}
/*--info-column--*/
.info-column {
	float:right;
	width:230px;
	margin:0 0 66px;
	background:url(../images/site_images/info-column-bg.gif) repeat-y;
}
.info-column .info-column-top {
	overflow:hidden;
	width:100%;
	background:url(../images/site_images/info-column-top.gif) no-repeat;
}
.info-column .info-column-bottom {
	overflow:hidden;
	width:200px;
	padding:20px 14px 20px 16px;
	background:url(../images/site_images/info-column-bottom.gif) no-repeat 0 100%;
}
.info-column h2 {
	margin:0;
	padding:0 0 4px;
	color:#6a8f0c;
	font-size:200%;
	line-height:120%;
	text-align:center;
}
.info-column p {
	margin:7px 0 0;
	padding:0 0 7px;
	color:#4f4f4f;
	/* font-size:120%; */
	line-height:130%;
}
.info-column p a {
	color:#83b00f;
	text-decoration:none;
}
.info-column p a:hover {text-decoration:underline;}
.info-column img {
	float:left;
	margin:10px 18px 4px 0;
}
/*---promo-block---*/
.promo-block-holder {
	width:100%;
	overflow:hidden;
	clear:both;
	background:#fff url(../images/site_images/promo-block-bg.gif) repeat-x;
}
* html .promo-block-holder {width:auto;}
.promo-block-holder .promo-block {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding:44px 10px 0 0;
	width:890px;
}
.promo-block .txt {
	float:left;
	width:444px;
	text-align:center;
}
.promo-block .txt h1 {
	margin:0;
	color:#4f4f4f;
	font:bold 300%/110% Arial, Helvetica, sans-serif;
}
.promo-block .txt h1 span {color:#83b00f;}
.promo-block .txt strong {
	display:block;
	color:#4f4f4f;
	font-size:200%;
	line-height:120%;
}
.promo-block img {
	float:right;
	margin:0;
}
.promo-block .line {
	overflow:hidden;
	padding:48px 50px 0;
	clear:both;
	display:block;
}
.promo-block .line a.green-btn {
	float:left;
	width:156px;
	height:44px;
	padding:4px 0 0;
	color:#fff;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
  background-image: url(../images/site_images/green-btn.gif);
  background-repeat: no-repeat;
}
.content-area .info-block p a.free-blue-btn {
	float:left;
	width:152px;
	height:34px;
	padding:14px 0 0;
	color:#fff;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background-image:url(../images/site_images/orange/blue-btn.gif);
	background-repeat: no-repeat;
}
.content-area .info-block p a.free-green-btn {
	float:left;
	width:156px;
	height:44px;
	padding:4px 0 0;
	color:#fff;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
  background-image: url(../images/site_images/green-btn.gif);
  background-repeat: no-repeat;
}
.content-area .info-block p a.free-orange-btn {
	float:left;
	width:152px;
	height:34px;
	padding:14px 0 0;
	color:#fff;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background-image:url(../images/site_images/orange-btn.gif);
	background-repeat: no-repeat;
}
.content-area .info-block p a.free-orange-btn-2-lines {
	float:left;
	width:152px;
	height:44px;
	padding:4px 0 0;
	color:#fff;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background-image:url(../images/site_images/orange-btn.gif);
	background-repeat: no-repeat;
}
.promo-block .line a.orange-btn {
	float:right;
	width:152px;
	height:34px;
	padding:14px 0 0;
	color:#fff;
	font:bold 16px/19px Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration:none;
	background-image:url(../images/site_images/orange-btn.gif);
	background-repeat: no-repeat;
}
.promo-block .line a:hover {background-position:0 -48px;}
/*---promo-bar---*/
.promo-bar-holder {
	width:100%;
	overflow:hidden;
	clear:both;
	background:#fff url(../images/site_images/promo-block-bg.gif) repeat-x;
}
* html .promo-bar-holder {width:auto;}
.promo-bar-holder .promo-bar {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 10px;
	width:900px;
}
.promo-bar-holder .promo-bar-bottom {
	width:100%;
	overflow:hidden;
	clear:both;
	padding:0 0 14px;
	background-image:url(../images/site_images/promo-bar-bottom.gif);
	background-repeat: no-repeat;
	background-position: 50% 100%;
}
.promo-bar h2 {
	margin:0;
	color:#8fb021;
	font-size:300%;
	line-height:120%;
	text-align:center;
}
.promo-bar strong {
	display:block;
	color:#4f4f4f;
	font-size:227%;
	line-height:120%;
	text-align:center;
}
/*---green-bar---*/
.green-bar-holder {
	width:100%;
	overflow:hidden;
	clear:both;
	background-color:#83b00f;
	background-image:url(../images/site_images/green-bar-bg.gif);
	background-repeat: repeat-y;
	background-position:50% 0;
}
* html .green-bar-holder {width:auto;}
.green-bar {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding:20px 0;
	width:900px;
}
.green-bar .photos {
	overflow:hidden;
	width:100%;
	clear:both;
	padding:0 0 14px;
	position:relative;
}
.green-bar .photos:hover .txt,
.green-bar #photo.hover .txt {background:url(../images/site_images/bg-2.png) repeat;}
.green-bar .photos ul {
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
}
.green-bar .photos ul li {
	float:left;
	list-style:none;
}
.green-bar .photos ul li img {
	display:block;
	margin:0;
	border:none;
}
.green-bar .photos .txt {
	position:absolute;
	top:58px;
	height:22px;
	width:100%;
	background:url(../images/site_images/bg-1.png) repeat;
}
.green-bar .photos .txt p {
	float:left;
	margin:0;
	padding:0 10px;
	color:#fff;
	font:bold 18px/22px Arial, Helvetica, sans-serif;
	width:auto;
	text-align:left;
}
.green-bar .photos .txt p.to-tight {float:right;}
.green-bar p {
	margin:0;
	width:100%;
	color:#4f4f4f;
	font:bold 140%/130% "Trebuchet MS", Arial, sans-serif;
	text-align:center;
}
.green-bar p a {
	color:#000;
	text-decoration:none;
}
.green-bar p a:hover {text-decoration:underline;}
/*---green-bar---*/
.columns-holder {
	width:100%;
	overflow:hidden;
	clear:both;
}
* html .columns-holder {width:auto;}
.columns-holder .columns {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding:10px 0 0;
	width:900px;
}
.columns h2 {
	margin:0;
	padding:0 0 10px;
	width:100%;
	clear:both;
	color:#83b00f;
	font-size:250%;
	line-height:120%;
	text-align:center;
}
.columns .column {
	float:left;
	width:280px;
}
.columns .center {margin:0 30px;}
.columns .column h3 {
	overflow:hidden;
	width:100%;
	margin:0 0 10px;
	padding:0 0 4px;
	clear:both;
	color:#4f4f4f;
	font-size:160%;
	line-height:130%;
	text-align:center;
	border-bottom:1px;
	border-bottom-style:solid ;
	border-bottom-color:#8fb021;
}
.columns .column img {
	float:left;
	margin:0 0 0 10px;
	border:none;
	display:inline;
}
.columns .column .txt {
	float:right;
	width:125px;
	padding:0 10px 0 0;
}
.columns .column .txt p {
	margin:0;
	font-size:140%;
	line-height:130%;
}
/*-----footer-----*/
#footer {
	width:100%;
	/* IE Dynamic Expression to set the width */
	width:expression(document.body.clientWidth < 920 ? "920px" : "100%" );
	min-width:920px;
	background-color:#83b00f;
}
* html #footer {width:auto;}
#footer .footer-area {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 30px;
	width:100%;
	/* IE Dynamic Expression to set the width */
	width:expression(document.body.clientWidth < 920 ? "920px" : "100%" );
	min-width:920px;
}
#footer ul {
	overflow:hidden;
	margin:0;
	padding:0;
	width:100%;
	text-align:center;
}
#footer ul li {
	display:inline;
	list-style:none;
	padding:0 0 0 7px;
	font-size:140%;
	line-height:130%;
	background:url(../images/site_images/f-nav-separator.gif) no-repeat 0 60%;
}
#footer ul li:first-child {
	background:none;
	padding:0;
}
#footer ul li a {
	color:#fff;
	text-decoration:none;
}
#footer ul li a:hover {text-decoration:underline;}
#footer p {
	margin:0;
	width:100%;
	text-align:center;
	color:#4f4f4f;
	font-size:140%;
	line-height:130%;
}

#footer p.normal {
	margin:0;
	width:100%;
	text-align:left;
	color:#4f4f4f;
	font-size:140%;
	line-height:130%;
}

#footer p.titre {
	margin:0;
	width:100%;
	text-align:left;
	color:#eeeeee;
	font-size:180%;
	line-height:130%;
	font-weight:bold;
}


