.promo-block .line a.green-btn {
  background-image: url(../images/site_images/blue/blue-btn.gif);
}


.info-block ul.list li {
	background-image:url(../images/site_images/blue/blue-bullet.gif);
}

#header ul.nav li a.active span strong {
  background-image:url(../images/site_images/blue/blue-nav-active.gif);
}

#header ul.nav li a {
	background-image:url(../images/site_images/blue/blue-nav-l.gif);
}

#header ul.nav li a span {
	background-image:url(../images/site_images/blue/blue-nav-r.gif);
}

.h-top strong a {
	display:block;
	width:292px;
	height:37px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/site_images/logo_bp.png) no-repeat;
}

.promo-block .line a.orange-btn {
	background-image:url(../images/site_images/blue/green-btn.gif);
}
.green-bar-holder {
	background-color:#0195ff;
	background-image:url(../images/site_images/blue/blue-bar-bg.gif);
}
.promo-block .txt h1 span {color:#109dff;}
  
.columns h2 {color:#109dff;}

.columns .column h3 {border-bottom-color:#109dff;}

#footer {background-color:#109dff;}

body {
	background-color:#109dff;
}
.promo-bar h2 {color:#109dff;}

.promo-bar-holder .promo-bar-bottom {
	background-image:url(../images/site_images/blue/blue-promo-bar-bottom.gif);
}

.info-block h1 {color:#109dff;}

.info-column h2 {color:#109dff;}

.info-block p a {color:#48b4ff;}

.info-column p a {color:#48b4ff;}

