<style type="text/css">
	
	.modules{
		margin-top: 10px !important;
	}
	p {
		font-size: 14px;
	}
</style>

<div id="status">
	<div id="update">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>
						Hola <%= @user.name %> haz creado un nuevo cultivo y te enviamos nuestro analisis para ayudarte a mejorar en tu cultivo.
					</h4>					
				</div>
			</div>
			<div class="row header">
				<div class="col-md-12">
					<div class="current-status" style="text-align: center;">
						<h2>
							Analisis del cultivo <%= @plantain_crop.name %>
						</h2>
						<a href="<%=SiteAdmin::K_SITE_ADDRESS%>/plantain_crops/<%=@plantain_crop.id %>" >Ir al perfil del cultivo</a>
					</div>
				</div> 
			</div>
		  <div class="page-header">
		    <h4>Datos Generales</h4>
		  </div>  				
			<div class="row row-centered">
				<div class="col-md-12 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Ubicado en el municipio de: </strong><%= Town.find(@plantain_crop.town.to_i).name %></h4>
							</li>
							<li class="list-group-item">
								<h4><strong>Localización: </strong><%= @plantain_crop.location %></h4>
							</li>
							<li class="list-group-item">
								<h4><strong>Tamaño del terreno: </strong><%= @plantain_crop.size %>ha</h4>
							</li>
							<li class="list-group-item">
								<h4><strong>Puntuacion del cultivo: </strong><%= @plantain_crop.score %> punto<%= 's' if @plantain_crop.score != 1 %></h4>
							</li>												
						</ul>
					</div>
				</div>
			</div>
		  <div class="page-header">
		    <h4>Recomendaciones para mejorar tu cultivo</h4>
		  </div>
			<div class="row row-centered">
				<div class="col-md-12 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">						
							<li class="list-group-item">
								<%= PlantainCropsHelper::advantages_of_cultivated_plantains(@plantain_crop, @kind_plantains_y, @kind_plantains_n)%>
							</li>
							<li class="list-group-item">
								<%= PlantainCropsHelper::advantages_of_kind_land(@plantain_crop)%>
							</li>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_depth_range(@plantain_crop)%>
							</li>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_weather_range(@plantain_crop)%>
							</li>
							<% unless @plantain_crop.has_irrigation %>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_has_irrigation(@plantain_crop)%>
							</li>
							<% end %>
							<% unless @plantain_crop.has_sterilization %>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_has_sterilization(@plantain_crop)%>
							</li>
							<% end %>
							<% unless @plantain_crop.has_weed_control %>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_has_weed_control(@plantain_crop)%>
							</li>
							<% end %>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_leaf_removal(@plantain_crop)%>
							</li>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_fungicide(@plantain_crop)%>
							</li>	
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_tanks_verification(@plantain_crop)%>
							</li>	
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_clusters_selecting(@plantain_crop)%>
							</li>	
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_clusters_selecting_with_instruments(@plantain_crop)%>
							</li>	
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_clusters_packing(@plantain_crop)%>
							</li>
							<li class="list-group-item">
								<%= PlantainCropsHelper::analysis_finger_size(@plantain_crop)%>
							</li>

						</ul>
					</div>
				</div>
			</div>		  				
		</div>
	</div>
</div>