<div class="container">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4> nombre del cliente <%= @potential_customer.name %></h1>
				<h4> email del cliente <%= @potential_customer.email %></h1>
				<h4> Telefono del cliente <%= @potential_customer.phone %></h1>
				<h4> mensaje: </h4>
				<h3><%= @potential_customer.message %></h3>
			</div>
		</div>
	</div>
</div>