<div class="container">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1> Hola <%= @user.name %></h1>
				<p>
					¡Te damos la bienvenida a Better Plantain!
				</p>
				Inicia tu sesión <%= link_to :acá, SiteAdmin::K_SITE_ADDRESS+user_session_url %>
			</div>
		</div>
	</div>
</div>