	<div id="map" style="height:400px;">

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.912018777608!2d-75.21464092706184!3d4.427489798383356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe3a39e4dce9be349!2sUniversidad+Del+Tolima!5e0!3m2!1ses-419!2sco!4v1444735872578" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>

	</div>
	</br>
	<div id="info">
		<div class="container">
			<div class="row">
				<div class="col-md-8 message">
				<%= our_notice_alert(notice) %>
					<h3>Envianos un mensaje</h3>
					(<i class="fa fa-check-circle-o"></i> son requeridos obligatoriamente)
					<%= form_for(:potential_customer, {url: {action: 'create'}}) do |f| %>
					  <% if @potential_customer.errors.any? %>
					    <div id="error_explanation">
					      <h2>Por <%= pluralize(@potential_customer.errors.count, "errores") %> no se ha podido guardar el mensaje:</h2>

					      <ul>
					        <% @potential_customer.errors.full_messages.each do |message| %>
					        <li><%= message %></li>
					        <% end %>
					      </ul>
					    </div>
					  <% end %>
					  </br>					
						<div class="form-group">
			        <%= f.label :name,'Tu nombre' %> <i class="fa fa-check-circle-o"></i><br>
			        <%= f.text_field :name, {autofocus: true, class: 'form-control'}  %>				    		
				  	</div>
			  		<div class="form-group">
			        <%= f.label :email,'Dirección de correo electrónico' %> <i class="fa fa-check-circle-o"></i><br>
			        <%= f.text_field :email, {autofocus: true, class: 'form-control'}  %>				    		
			  		</div>
			  		<div class="form-group">
			        <%= f.label :phone,'Número de telefono' %></i><br>
			        <%= f.text_field :phone, {autofocus: true, class: 'form-control'}  %>				    		
			  		</div>
			  		<div class="form-group">
			        <%= f.label :message,'Tu mensaje' %></i><br>
			        <%= f.text_area :message, {autofocus: true, class: 'form-control', rows: "6"}  %>			    		
			  		</div>
			  		<div class="submit">
			  			<input type="submit" class="button button-small" value="Enviar" />
			  		</div>
					<% end %>
				</div>
				<div class="col-md-4 contact">
					<div class="address">
						<h3>Nuestra dirección</h3>
						<p>
							Barrio Santa Helena Parte Alta<br />
							Código Postal Nro 730006299 <br />
							Ibagué - Tolima - Colombia
						</p>
					</div>
					<div class="phone">
						<h3>Nuestros telefonos</h3>
						<p>
							316 6303854 | 310 2588615
						</p>
					</div>
					<div class="social">
						<a href="https://www.facebook.com/betterplantain2016" class="fb"><img src="/images/social/fb.png" alt="facebook" /></a>
						<a href="https://twitter.com/better_plantain" class="tw"><img src="/images/social/tw.png" alt="twitter" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
