<header class="navbar navbar-inverse white" role="banner">
  <%= render :partial => 'navbar' %>
</header>

<div id="hero">
  <div class="container">
    <h1 class="hero-text animated fadeInDown">
      Las mejores practicas agropecuarias<br />
      para su cultivo 
    </h1>
    <p class="sub-text animated fadeInDown">
      Obtén toda la ayuda que necesitas para tu cultivo un solo sitio solo necesitas darte de alta gratuitamente.
    </p>
    <% unless ( user_signed_in? ) %>
    <div class="cta animated fadeInDown">
      <%= link_to 'Crea tu cuenta', new_user_registration_path, {class: "button"} %>
    </div>
    <% end %>
  </div>
</div>