<header class="navbar navbar-inverse normal" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="<%= root_path %>" class="navbar-brand">Better plantain</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="<%= root_path %>" >
            Home
          </a>
        </li>
        <li class="dropdown">
          <a href="<%= better_plantain_path %>" >
            Quienes somos 
          </a>
        </li>
        <li class="dropdown">
          <%= link_to :Blog, blogs_path %>
        </li>
        <li class="dropdown">
          <a href="<%= contactanos_path %>" >
            Contáctanos
          </a>
        </li>
        <% if ( user_signed_in? ) %>
        <li>
          <a href="<%=acount_index_path%>" >
            ir a mi cuenta
          </a>
        </li>
        <li>        
          <%= link_to "Cerrar sesión", destroy_user_session_path, {:method => :delete, :class => "signup button-outline"} %>
        </li>
        <% else %>
        <li>
          <%= link_to "Iniciar sesión", user_session_path %> 
        </li>
        <li>
          <a href="<%= new_user_registration_path %>" class="signup button-outline">Crea una cuenta</a>
        </li>       
        <% end %>
      </nav>
    </div>
  </header>