<div id="about-us">
	<div id="slider">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h3>Acerca de Better Plantain</h3>
					<p>
						
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<img src="images/slider/platano01.jpg"/>
							</li>
							<li>
								<img src="images/slider/platano02.jpg" />
							</li>
							<li>
								<img src="images/slider/platano03.jpg" />
							</li>
							<li>
								<img src="images/slider/platano04.jpg" />
							</li>							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="info">
		<div class="container">
			<div class="row">
				<div class="col-md-12 page-header ">
					<h1>Este es nuestro equipo de investigadores</h1>
				</div>
			</div>
			<div class="row team">
				<div class="col-md-12 team-row">
					<img src="images/investigadores/Jaidiver.png" data-toggle="tooltip" title="Jaidiver Lombo" />
					<img src="images/investigadores/milaidy.png" data-toggle="tooltip" title="Milaidy Ardila" />
					<img src="images/investigadores/kathe.png" data-toggle="tooltip" title="Katherine Marroquin" />
					<img src="images/investigadores/ivon.jpg" data-toggle="tooltip" title="Ivon Guarnizo" />
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$( document ).ready(function() {
			$('.flexslider').flexslider({
				directionNav: false,
				slideshowSpeed: 4000
			});
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>

</div>
