<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>¿Necesitas una manera fácil de mejorar su cultivo?</h2>
        <p>Better plantain es el proyecto para los cultivadores novatos como para expertos para que mejoren sus practicas agropecuarias.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Cosecha de Plátano</h4>
        <p>
          En el siguiente clip tecnológico usted conocerá como se debe realizar la cosecha en el cultivo de plátano correctamente, siguiendo paso a paso el proceso explicado por expertos en este frutal.
        </p>
      </div>
      <div class="col-md-6 image">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/zpr-2lvvfFo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Ingresa tus cultivos.</h4>
        <p>
          Constesta un corto cuestionario con preguntas de tu cultivo y podremos ayudarte a mejorar en tu forma de cultivar.
        </p>
        <p>
          Tambien puedes ayudar a otros a mejorar compartiendo tus experiencias en nuestro blog.
        </p>
      </div>
      <div class="col-md-6 image">
        <img src="images/bp_1.png" class="img-responsive" alt="feature2" />
      </div>
    </div>
  </div>    
</div>

<style type="text/css">
  .pic {
    overflow: hidden;
    width: 100px;
    height: 100px;  
  }
  .thumb {
      width: 95%;
      display:block!important;
      -webkit-transition:-webkit-transform 1s ease-out;
      -moz-transition:-moz-transform 1s ease-out;
      -o-transition:-o-transform 1s ease-out;
      -ms-transition:-ms-transform 1s ease-out;
      transition:transform 1s ease-out;
  }
  .thumb:hover {
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
  }  
</style>

<div id="testimonials">
  <div class="container">
    <div class="row header" style="margin-bottom: 3px;">
      <div class="col-md-12">
        <h3>Nuestros investigadores:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="testimonial pull-right">
          <div class="author">
            <div class="pic">
              <img src="images/investigadores/Jaidiver.png" class="thumb" alt="testimonial1" />
            </div>            
            <div class="name">Jaidiver Lombo</div>
            <div class="company">Investigador</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="testimonial">
          <div class="author">
            <div class="pic">
              <img src="images/investigadores/kathe.png" class="thumb" alt="testimonial2" />
            </div>
            <div class="name">Katherine Marroquin</div>
            <div class="company">Investigador</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="testimonial pull-right">
          <div class="author">
            <div class="pic">
              <img src="images/investigadores/milaidy.png" class="thumb" alt="testimonial1" />
            </div>
            <div class="name">Milaidy Ardila</div>
            <div class="company">Investigador</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="testimonial">
          <div class="author">
            <div class="pic">
              <img src="images/investigadores/ivon.jpg" class="thumb" alt="testimonial2" />
            </div>
            <div class="name">Ivon Guarnizo</div>
            <div class="company">Investigador</div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>