
<%
  kind_land = ['Franco Arenosa', 
               'Franco Arcillosa', 
               'Franco Arcillo Limosa', 
               'Franco Limosa', 
               'Ninguno']
  depth_range = ['0.5-0.7', '0.71-1', '1.2-1.5']
  weather_range = ['10-15','16-21','22-27']
  planting_distance = ['2.6 x 2.6', '2.7 x 2.7', '2.8 x 2.8', '3 x 3']
  leaf_removal = ['Deshoje por sanidad', 'Deshoje de protección del racimo', 'Ninguno']
  fungicide = ['Bravo 720', 'Dithane', 'TILT', 'Calixin', 'Ninguno']
  underpinned = ['caña de bambú', 'caña brava', 'pambil',
                 'alambre', 'piola de yute', 'piola de plástico o nylon']
  finger_size = ['menos de 10 pulgadas', 'mas de 10 pulgadas'] 
  sheathed = ['Para proteger la cosecha de daños causados por insectos, hojas y productos químicos', 'No se realiza por que no es necesaria']       
%>

<%= form_for(@plantain_crop) do |f| %>
  <% if @plantain_crop.errors.any? %>
    <div id="error_explanation">
      <h2>Por <%= pluralize(@plantain_crop.errors.count, "errores") %> no se ha podido guardar el cultivo:</h2>

      <ul>
        <% @plantain_crop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </br>
  <h4>Introduce los siguientes datos de tu cultivo:</h4>(<i class="fa fa-check-circle-o"></i> son requeridos obligatoriamente)
  </br>
  <div class="page-header">
    <h4>Datos Generales</h4>
  </div>  
  <div class="row">
    <div class="col-md-6">
      <div <div class="form-group">
        <%= f.label :name,'Nombre del lugar' %> <i class="fa fa-check-circle-o"></i><br>
        <%= f.text_field :name, {autofocus: true, class: 'form-control'}  %>
      </div>
    </div>
    <div class="col-md-6">
      <div <div class="form-group">
        <%= f.label :town, 'Ubicación del cultivo en el Tolima' %> <i class="fa fa-check-circle-o"></i><br>
        <%= f.select(:town, Town.all.collect {|t| [ t.name, t.id ] }, {prompt: 'Seleciona un municipio'}, {class: 'form-control'})%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div <div class="form-group">
        <%= f.label :location, 'Ubicación del cultivo' %> <i class="fa fa-check-circle-o"></i><br>
        <%= f.text_field :location, {autofocus: true, class: 'form-control'}  %>
      </div>
    </div>
    <div class="col-md-6">
      <div <div class="form-group">
        <%= f.label :size, 'Tamaño del terreno (en hectárias)' %> <i class="fa fa-check-circle-o"></i><br>
        <%= f.text_field :size, {autofocus: true, 
                                 class: 'form-control',
                                 style: 'width: 226px;display: inline'} %> 
        <strong>ha</strong>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h4>Datos del cultivo y el terreno</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :kind_plantain, '¿Qué tipo de plátano está cultivando?' %><br>
      <div class="row">
       <div class="col-md-3">        
        <div style="padding: 5px;">
          <%= f.check_box :guineo, {checked:false}, 'true'%><span> Guineo</span>
        </div>
        <div style="padding: 5px;">
          <%= f.check_box :harton, {checked:false}, 'true'%><span> Hartón</span>
        </div>
        <div style="padding: 5px;">
          <%= f.check_box :macho, {checked:false}, 'true'%><span> Macho</span>
        </div>
      </div>
      <div class="col-md-3">
        <div style="padding: 5px;">
          <%= f.check_box :rojo, {checked:false}, 'true'%><span> Rojo</span>
        </div>
        <div style="padding: 5px;">
          <%= f.check_box :valery, {checked:false}, 'true'%><span> Valery</span>
        </div>       
      </div>
    </div>          
    </div>
    <div class="col-md-6">
      <%= f.label :kind_land, '¿En qué tipo de terreno según su textura va a realizar el cultivo?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:kind_land, kind_land, {prompt: 'Seleciona un tipo de terreno'}, {class: 'form-control'})%>      
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :depth_range, '¿que profundidad tiene el terreno del cultivo? (en metros)' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:depth_range, depth_range, {prompt: 'Seleciona un rango'}, {class: 'form-control'})%>      
    </div>
    <div class="col-md-6">
      <%= f.label :weather_range, '¿En qué tipo de clima realizará el cultivo?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:weather_range, weather_range, {prompt: 'Seleciona un rango en grados celsius'}, {class: 'form-control'})%>    
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :has_irrigation, '¿El terreno es apto para el drenaje?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:has_irrigation, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:has_irrigation, 'false') %>
    </div>
    <div class="col-md-6">
      <%= f.label :planting_distance, '¿A qué distancia realiza la siembra?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:planting_distance, planting_distance, {prompt: 'Seleciona un rango'}, {class: 'form-control'})%>      
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :has_sterilization, '¿La semilla ó rizoma es esterilizado con una mezcla de insecticida - fungicida?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:has_sterilization, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:has_sterilization, 'false') %>
    </div>
    <div class="col-md-6">
      <%= f.label :has_weed_control, '¿Realiza control de plagas en su cultivo?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:has_weed_control, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:has_weed_control, 'false') %>     
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :leaf_removal, '¿Cómo se realiza el deshoje?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:leaf_removal, leaf_removal, {prompt: 'Seleciona un tipo'}, {class: 'form-control'})%>      
    </div>
    <div class="col-md-6">
      <%= f.label :fungicide, '¿Qué tipo de fungicidas utiliza?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:fungicide, fungicide, {prompt: 'Seleciona un tipo'}, {class: 'form-control'})%>    
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :underpinned, '¿Cómo se realiza el apuntalado?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:underpinned, underpinned, {prompt: 'Seleciona un tipo'}, {class: 'form-control'})%>      
    </div>
    <div class="col-md-6">
      <%= f.label :sheathed, '¿Realizá el enfundado?' %> <i class="fa fa-check-circle-o"></i><br>
      <%= f.select(:sheathed, sheathed, {prompt: 'Seleciona una opción'}, {class: 'form-control'})%>    
    </div>    
  </div>
  <div class="page-header">
    <h4>Datos de la cosecha</h4>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :tanks_verification, 'Antes de iniciar el corte, ¿verífica que los tanques de la empacadora estén listos con agua-alumbre y agua - merteck?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:tanks_verification, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:tanks_verification, 'false') %>      
    </div>
    <div class="col-md-6">
      <%= f.label :clusters_processing, '¿procesa racimos de plantas con menos de siete hojas funcionales?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:clusters_processing, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:clusters_processing, 'false') %>    
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :clusters_selecting, '¿Desechan los racimos maduros, gruesos, con excesivas cicatrices o maltratados?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:clusters_selecting, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:clusters_selecting, 'false') %>      
    </div>
    <div class="col-md-6">
      <%= f.label :clusters_packing, '¿Empacá coronas desgarradas o curvas?' %><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:clusters_packing, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:clusters_packing, 'false') %>    
    </div>    
  </div>
  </br>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :clusters_selecting_with_instruments, '¿selecciona la fruta con calibrador y cinta métrica?' %></i><br>
      <span style="margin-left: 5px;margin-right: 5px;">Si</span><%= f.radio_button(:clusters_selecting_with_instruments, 'true') %>
      <span style="margin-left: 5px;margin-right: 5px;">No</span><%= f.radio_button(:clusters_selecting_with_instruments, 'false') %>    
    </div>
    <div class="col-md-6">
      <%= f.label :finger_size, '¿Cuanto mide minimo un dedo de un racimo? (en pulgadas)' %> <i class="fa fa-check-circle-o"></i><br>
     <%= f.select(:finger_size, finger_size, {prompt: 'Seleciona un tipo'}, {class: 'form-control'})%>
    </div>    
  </div>
  <div class="page-header">
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="submit" style="text-align: center;">
        <button type="submit" class="button-clear">
          <span>Crear cultivo</span>
        </button>
      </div>
    </div>  
  </div> 
<% end %>