<%= our_notice_alert(notice) %>

<h1>Listing Plantain Crops</h1>

<table>
  <thead>
    <tr>
      <th>Nanme</th>
      <th>Location</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plantain_crops.each do |plantain_crop| %>
      <tr>
        <td><%= plantain_crop.name %></td>
        <td><%= plantain_crop.location %></td>
        <td><%= plantain_crop.size %></td>
        <td><%= link_to 'Show', plantain_crop %></td>
        <td><%= link_to 'Edit', edit_plantain_crop_path(plantain_crop) %></td>
        <td><%= link_to 'Destroy', plantain_crop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plantain crop', new_plantain_crop_path %>
