
<div class="container">
	<div class="row header">
		<div class="col-md-12">
			<h2>Ingresa un nuevo cultivo</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= render 'form' %>
			</br>
			<%= link_to 'Volver a tu perfil', acount_index_path %>	
		</div>
	</div>
</div>