<div id="status">
	<div id="update">
		<div class="container">
			<%= our_notice_alert(notice) %>
			<div class="row header">
				<div class="col-md-12">
					<div class="current-status">	
						<h2>
							<%= @plantain_crop.name %>
						</h2>
						<i class="fa fa-pencil-square-o"></i>
						<%= link_to 'Edita los datos del cultivo', edit_plantain_crop_path(@plantain_crop) %> | 
						<i class="fa fa-cogs"></i>
						<%= link_to 'Ir al análisis del cultivo', analisis_path(@plantain_crop)%>
					</div>
				</div> 
			</div>
		  <div class="page-header">
		    <h4>Datos Generales</h4>
		  </div>  				
			<div class="row row-centered">
				<div class="col-md-6 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Ubicado en el municipio de:</strong></h4>
								<div style="text-align: center;">
									<h4><%= Town.find(@plantain_crop.town.to_i).name %></h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Puntuacion del cultivo:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.score %> punto<%= 's' if @plantain_crop.score != 1 %></h4>
								</div>
							</li>							
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Localización:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.location %></h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Tamaño del terreno:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.size %>ha</h4>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		  <div class="page-header">
		    <h4>Datos del cultivo y el terreno</h4>
		  </div>
			<div class="row row-centered">
				<div class="col-md-6 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Tipos de platanos que se siembran:</strong></h4>
								<%if @plantain_crop.guineo%>
									<div style="text-align: center;">
										<h4>Guineo</h4>
									</div>
								<% end %>
								<%if @plantain_crop.harton%>
									<div style="text-align: center;">
										<h4>Hartón</h4>
									</div>
								<% end %>
								<%if @plantain_crop.macho%>
									<div style="text-align: center;">
										<h4>Macho</h4>
									</div>
								<% end %>
								<%if @plantain_crop.rojo%>
									<div style="text-align: center;">
										<h4>Rojo</h4>
									</div>
								<% end %>
								<%if @plantain_crop.valery%>
									<div style="text-align: center;">
										<h4>Valery</h4>
									</div>
								<% end %>											
							</li>								
							<li class="list-group-item">
								<h4><strong>Textura del terreno:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.kind_land %></h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Profundidad del terreno:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.depth_range %> mts</h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Promedio de la temperatura del sitio:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.weather_range %> grados celsius</h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Irrigación en el sitio:</strong></h4>
								<% if @plantain_crop.has_irrigation %>
									<div style="text-align: center;">
										<h4> Si posee irrigación adecuada</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4> No posee irrigación adecuada</h4>
									</div>									
								<% end %>
							</li>																					
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Esterilizado de la semilla ó rizoma con una mezcla de insecticida - fungicida:</strong></h4>
								<% if @plantain_crop.has_sterilization %>
								<div style="text-align: center;">
									<h4>Si se esteriliza la semilla ó rizoma</h4>
								</div>
								<% else %>
									<div style="text-align: center;">
										<h4>No se esteriliza la semilla ó rizoma</h4>
									</div>									
								<% end %>
							</li>
							<li class="list-group-item">
								<h4><strong>Control de plagas:</strong></h4>
								<% if @plantain_crop.has_weed_control %>
									<div style="text-align: center;">
										<h4>Se realiza un control de plagas adecuado</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4>No se realiza un control de plagas adecuado</h4>
									</div>									
								<% end %>
							</li>
							<li class="list-group-item">
								<h4><strong>Tipo de deshoje:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.leaf_removal %></h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Cual fungicida se usa en su cultivo:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.fungicide %></h4>
								</div>
							</li>
							<li class="list-group-item">
								<h4><strong>Distancia a la que se realiza la siembra:</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.planting_distance %> mts</h4>
								</div>
							</li>																							
						</ul>
					</div>
				</div>
			</div>
		  <div class="page-header">
		    <h4>Datos de la cosecha</h4>
		  </div>
			<div class="row row-centered">
				<div class="col-md-6 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Se verífica que los tanques de la empacadora estén listos con agua-alumbre y agua - merteck, antes de iniciar el corte</strong></h4>
								<%if @plantain_crop.tanks_verification%>
									<div style="text-align: center;">
										<h4>No se verifican los tanques</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4>Si se verifican los tanques</h4>
									</div>										
								<% end %>																																			
							</li>								
							<li class="list-group-item">
								<h4><strong>Se desechan los racimos maduros, gruesos, con excesivas cicatrices o maltratados</strong></h4>
								<%if @plantain_crop.clusters_selecting%>
									<div style="text-align: center;">
										<h4>Si se desechan los racimos</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4>No se desechan los racimos</h4>
									</div>										
								<% end %>	
							</li>
							<li class="list-group-item">
								<h4><strong>Se selecciona la fruta con calibrador y cinta métrica:</strong></h4>
								<%if @plantain_crop.clusters_selecting_with_instruments%>
									<div style="text-align: center;">
										<h4>Si se usan instrumentos de medición</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4>No se usan instrumentos de medición</h4>
									</div>										
								<% end %>	
							</li>																				
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-centered">
					<div class="panel panel-default modules">
						<ul class="list-group">
							<li class="list-group-item">
								<h4><strong>Se procesa racimos de plantas con menos de siete hojas funcionales</strong></h4>
								<%if @plantain_crop.clusters_processing%>
									<div style="text-align: center;">
										<h4>No se procesan estos racimos</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4>Si se procesan estos racimos</h4>
									</div>
								<% end %>	
							</li>
							<li class="list-group-item">
								<h4><strong>Empacá coronas desgarradas o curvas:</strong></h4>
								<% if @plantain_crop.clusters_packing %>
									<div style="text-align: center;">
										<h4>Se empacan estas coronas</h4>
									</div>
								<% else %>
									<div style="text-align: center;">
										<h4>No se empacan estas coronas</h4>
									</div>									
								<% end %>
							</li>
							<li class="list-group-item">
								<h4><strong>Tamaño minimo un dedo de un racimo</strong></h4>
								<div style="text-align: center;">
									<h4><%= @plantain_crop.finger_size %></h4>
								</div>
							</li>																						
						</ul>
					</div>
				</div>
			</div>			  							  				
		</div>
	</div>
</div>