  
  <div class="last-art">
    <ul>
      <% if !@articles.nil? %>
        <% for my_art in @articles %>
        <li>
          <strong><%= my_art.created_at.strftime("%d %b") %></strong>
          <%= link_to my_art.title, blog_path(my_art.id) %>
        </li>
        <% end %>
      <% else %>
        <li>
          <strong> No hay artículos </strong>
        </li>                  
      <% end %>  
    </ul>
  </div>
