
<body id="signup">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h3 class="logo">
          <a href="<%= root_path %>" style="background: transparent;">Better plantain</a>
        </h3>
        <h4>Inicia sesión en tu cuenta.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, {autofocus: true, class: 'form-control'} %>
                  </div>

                  <div class="form-group">
                    <%= f.label :Contraseña %><br />
                    <%= f.password_field :password,{autocomplete: "off", class: 'form-control' } %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="checkbox">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>

                  <div class="submit">
                    <button type="submit" class="button-clear">
                      <span>Iniciar sesión en mi cuenta</span>
                    </button>
                  </div>
                <% end %>
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <br />
                  <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), {:style => 'background: transparent;text-decoration: none;'} %><br />
                <% end -%>
              </div>
            </div>            
          </div>
        </div>
        <div class="already-account">
          ¿No tienes cuenta aún?
          <%= link_to "Crea una acá", new_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
</body>