/* 
    Document   : new_site_blog
    Author     : wss1
    Description:
        Purpose of the stylesheet follows.
*/

/* #header { */
.info-block h1 a{
    color: #FF6600;
    margin: 0;
}

.info-block h2 {
    color: #FF6600;
    margin: 0;
	font-size: 22px;
}

.info-block h2 a{
    color: #FF6600;
    margin: 0;
	font-size: 22px;
}

.info-block h3 {
    color: #FF6600;
    margin: 0;
	font-size: 20px;
}

.info-block a {
    color: #83B00F;
    font-size: 14px;
	line-height: 20px;
}

.info-column-bottom ul{
 list-style-type: none;
 padding-left: 5px;
}

.info-column-bottom ul li{
}

.info-block p {
	line-height: 22px;
	margin-bottom: 10px;
}

.info-block p.auth {
  padding: 0 0 0 12px;
  font-size: 100%;
  margin-left: 10px;
  font-weight: bold;
  color: #9a9a9b;
  background: url(../../images/bracket.gif) no-repeat;
}

#sform > #q {
    width: 185px;
}

h4.blueblk {
 	background: #B3E07F;
 	padding: 5px;
 	margin: 10px 0;
 	border: 1px solid #EEEEEE;
    font-size: 140%;
    font-weight: bold;
    /*color: #EEEEEE;*/
    -webkit-border-bottom-left-radius: 4px;   /* Saf3.0+, Chrome */
    -webkit-border-bottom-right-radius:4px;  /* Saf3.0+, Chrome */
    -webkit-border-top-left-radius: 4px;   /* Saf3.0+, Chrome */
    -webkit-border-top-right-radius: 4px;  /* Saf3.0+, Chrome */
    -moz-border-radius: 4px 4px 4px 4px; /* FF3.5+ */
    border-radius: 4px 4px 4px 4px; /* Opera 10.5, IE 9.0 */
    -khtml-border-radius: 4px 4px 4px 4px; /* Konqueror */
}

.comment-list li, #preview {
    background: none repeat scroll 0 0 #B3E07F;
    clear: right;
    /*color: #EEEEEE;*/
    margin-bottom: 8px;
    min-height: 60px;
    padding: 5px;
    font-size: 140%;
    -webkit-border-bottom-left-radius: 4px;   /* Saf3.0+, Chrome */
    -webkit-border-bottom-right-radius:4px;  /* Saf3.0+, Chrome */
    -webkit-border-top-left-radius: 4px;   /* Saf3.0+, Chrome */
    -webkit-border-top-right-radius: 4px;  /* Saf3.0+, Chrome */
    -moz-border-radius: 4px 4px 4px 4px; /* FF3.5+ */
    border-radius: 4px 4px 4px 4px; /* Opera 10.5, IE 9.0 */
    -khtml-border-radius: 4px 4px 4px 4px; /* Konqueror */
}

p.meta {
    font-size: 14px;
    margin-right: 5px;
    text-align: right;
}

.normal {
    font-size: 14px;
	color: #333333;
	line-height:20px;
}

li {
    font-size: 14px;
	line-height: 20px;
}

#search-results li{
  list-style-type: square;
}