<style type="text/css">
  #footer .copyright{text-align: center;}
  #footer .panel {background-color:transparent; padding-left: 100px;} 
  #footer .bottom-box {color: white;}
  #footer .bottom-box p {font-size: 130%; color: #eeeeee; float: left;} 
  #footer .bottom-box ul {padding: 0px;}
  #footer .bottom-box li {font-size: 15px;} 
  #footer .bottom-box .bottom-title {display: table; width: 100%;}
  #footer .bottom-box .bottom-title button {display: none; background-color: transparent;
    background-image: none; border: 1px solid transparent;}
    #footer .border-shadow {border-right: 1px solid rgba(0,0,0,0.35);
      box-shadow: 1px 0px 0 rgba(255,255,255,0.07);}
      @media (max-width: 991px){
        #footer .bottom-box .bottom-title button {display: block; float: right;}
        #footer .border-shadow {border-right: 0px solid rgba(0,0,0,0.35); border-bottom: 1px solid rgba(0,0,0,0.35);
          box-shadow: 0px 1px 0 rgba(255,255,255,0.07);}
        }
        @media (min-width: 992px) {
          #footer .bottom-box ul {display: block; height: auto !important;}
        }
        /* centered columns styles */
        .row-centered {
          text-align:center;
        }
        .col-centered {
          display:inline-block;
          float:none;
          /* reset the text-align */
          text-align:left;
          /* inline-block space fix */
          margin-right:-4px;
        }
        .col-fixed {
          /* custom width */
          width:320px;
        }
        .col-min {
          /* custom min width */
          min-width:320px;
        }
        .col-max {
          /* custom max width */
          max-width:320px;
        }


        /* centering styles for jsbin */
        html,
        body {
          width:100%;
          height:100%;
        }
        html {
          display:table;
        }
        body {
          display:table-cell;
          vertical-align:middle;
        }        
      </style>

<div id="footer">
  <div class="container">
    <div class="row row-centered panel-group" id="accordion">
      <div class="menu bottom-box border-shadow col-md-3 col-centered col-fixed panel">
        <div class="bottom-title">
          <p> Generalidades </p>
          <button class="fa fa-chevron-down" type="button" data-toggle="collapse" data-parent="#accordion" data-target=".list_generalidades"></button>
        </div>
        <ul class="list_generalidades list-unstyled collapse">
          <li><a href="<%= better_plantain_path %>">Quienes somos</a></li>
          <li><a href="<%= blogs_path %>">Blog</a></li>
          <li><a href="<%= contactanos_path %>">Contactanos</a></li>
        </ul>        
      </div>
      <div class="menu bottom-box col-md-3 col-centered col-fixed panel">
        <div class="bottom-title">
          <p> Social </p>
          <button class="fa fa-chevron-down" type="button" data-toggle="collapse" data-parent="#accordion" data-target=".list_votre_compte"></button>
        </div>
        <ul class="list_votre_compte list-unstyled collapse">
          <li><a href="https://www.youtube.com/channel/UCefiQnhKMwmgtqVoPIKybJw">Youtube</a></li>
          <li><a href="https://www.facebook.com/betterplantain2016">Facebook</a></li>
          <li><a href="https://twitter.com/better_plantain">Twitter</a></li>        
        </ul>      
      </div>           
    </div>
    <div class="row row-centered"></div>
    <div class="row row-centered copyright">
      <div class="col-md-12">
        Copyright © 2015
      </div>
    </div>
  </div>
</div>