<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
  <ul class="nav navbar-nav">
    <li>
      <a href="<%= root_path %>" >
        Home
      </a>
    </li>
    <li>
      <a href="<%=acount_index_path%>" >
        Perfil
      </a>
    </li>
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Cultivos <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="<%= new_plantain_crop_path%>">Crear un cultivo</a></li>
        <% crops = current_user.plantain_crops %>
        <% unless crops.empty? %>
          <% for crop in crops %>
            <% unless crop.id.nil? %>
              <li><%= link_to crop.name, plantain_crop_path(crop.id)%></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>
    <li>
      <%= link_to :Blog, blogs_path %>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, {:method => :delete, :class => "button-outline"} %>
    </li>
  </ul>
</nav>