<!DOCTYPE html>
<html class="bg">
  <head>
    <title>Better plantain</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>  
    <%= stylesheet_link_tag 'css/compiled/theme.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/animate.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/font-awesome.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/icomoon.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/SocialShare.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/general.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/flexslider.css', {:media => 'all'} %>

    <!-- javascript -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/bootstrap/bootstrap.min.js' %>
    <%= javascript_include_tag('js/SocialShare.js') %>
    <%= javascript_include_tag 'js/theme.js' %>
    <%= javascript_include_tag 'js/vendor/jquery.flexslider.min.js' %>  
    <%= csrf_meta_tags %>
  </head>
  <body id="portfolio">

    <%= render partial: 'layouts/acount_header'%>

    <%= yield %>

    <%= render partial: 'layouts/footer' %>
    
  </body>
</html>