<!DOCTYPE html>
<html>
  <head>
    <title>Better plantain</title>

    <!-- stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>  
    <%= stylesheet_link_tag 'css/compiled/theme.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/animate.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/font-awesome.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/icomoon.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/SocialShare.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/general.css', {:media => 'all'} %>

    <!-- javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/bootstrap/bootstrap.min.js' %>
    <%= javascript_include_tag 'js/theme.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, { id: "flash_#{name}", style: 'background-color: whitesmoke;font-size: large;text-align: center;'} %>
    <% end %>

    <%= yield %>
    
  </body>
</html>