<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <title>Better plantain</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <!-- stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>  
    <%= stylesheet_link_tag 'css/compiled/theme.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/animate.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/font-awesome.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/icomoon.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/SocialShare.css', {:media => 'all'} %>
    <%= stylesheet_link_tag 'css/vendor/flexslider.css', {:media => 'all'} %>    
    <%= stylesheet_link_tag 'css/general.css', {:media => 'all'} %>

    <!-- javascript -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'js/vendor/jquery.flexslider.min.js' %> 
    <%= javascript_include_tag 'js/bootstrap/bootstrap.min.js' %>    
    <%= javascript_include_tag('js/SocialShare.js') %>
    <%= javascript_include_tag 'js/theme.js' %>
    <%= csrf_meta_tags %>
  </head>

    <body id="home">

    <%= render partial: 'home/header' %>
    
    <%= yield %>

    <%= render partial: 'home/footer' %>

  </body>
</html>