<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">    
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<style type="text/css">
		.header {
		    display: block;
		    width: 100%;
		    padding: 20px;
		    border-bottom: 1px solid #333;
		}	
		.logo {
		    margin-top: 40px;
		    text-align: center;
		}
	</style>
  </head>
  <body>
  <div class="container" >
    <div class="row header">
      <div class="col-md-12">
        <h1 class="logo">
          <a href="<%= root_url %>" style="background: transparent;">Better plantain</a>
        </h1>
      </div>
    </div>
  </div></br> 	
    <%= yield %>
  </body>
</html>
